.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.salePrice {
  color: orange;
}

.footerLinks {
  color: #fff;
  font-family: "Markazi Text";
  font-size: 24px;
  text-decoration: none;
}

.navLinks {
  color: #000;
  font-family: "Markazi Text";
  font-size: 20px;
  text-decoration: none;
}

#highlights {
  font-family: "Markazi Text";
  font-size: 20px;
}

#heroText {
  font-family: "Markazi Text";
  font-size: 20px;
}

.aboutText {
  font-family: "Markazi Text";
  font-size: 24px;
}

.button {
  text-decoration: none;
  color: #000;
}
#title, #branch {
  font-family: "Markazi Text";
}