body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("/blackjack/root/img/background.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}



button:hover {
    background: rgb(67, 183, 185);
    transition: 0.211s ease-in;
}

button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    transition: 0.1s;
}